*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif; 
    font-optical-sizing: auto;  
    font-style: normal;
}

:root{
    --bg-color: #5B02A3;
    --color: rgb(227, 213, 202);
    --color-secundaario: #d5bdaf;
    --color-terciario: #9d8189;
}

body{
    background-color: rgba(227, 213, 202, 0.627);
    background: linear-gradient(150deg, #d5bdaf, #edede9);
}

.error{
    color: red;
    display: block;
    text-align: center;
}
/* Estilo Header para Escritorio */
.headerLogin{
    position: sticky;
    height: 12vh;
    top: 0;
    z-index:10;
    
    .navegacion{
        height: inherit;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        display: flex;
        align-items: center;

        .logo{
            text-decoration: none;
            color: white;
            font-family: "Lora", serif;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            .spanLight{
                color: var(--color-terciario);
            }
        }
    }
}

/*Estilo para Header para Mobile y Tablet*/
@media screen and (max-width:768px){
    .headerLogin{
        .navegacion{
            margin-left:10px;
            margin-right:10px;
        }
    }   
}

/* Estilos para Login Escritorio */
.main{
    height: 88vh;
    
    .seccionLogin{
        background-color:rgba(255,255,255,0.64);
        width: 30vw;
        margin: 0 auto;
        border:solid 2px #ffffff;
        border-radius: 20px;
        padding: 40px 10px;   
        height: 80vh;
        font-size: 1em;

        display: flex;
        flex-direction: column;
              

        .tituloLogin{
            font-size: 2.2em;
            font-weight: 700;
            color: var(--color-terciario);
            text-align: center;
        }

        form{
            width: 100%;
            padding: 10px; 
            input{
                width: 80%;
                height: 40px;
                font-size: 1em;
                border-radius: 15px;
                border:0px;
                display: block;
                margin: auto;
            }
            
            .inputLogin{
                padding-left: 25px;
                background-color: #ffffff;
                margin-top: 30px;
            }

            .botonLogin{
                background-color: var(--color-terciario);
                color: #ffffff;
                font-weight: 600;
                margin-top: 60px;
                margin-bottom:10px;

                &:hover{
                    transform: scale(1.1);
                }
            }

        }
        
        a{
            font-size: 1em;
            color: rgb(127, 124, 124);
            display: block;
            text-decoration: none;
            font-weight: 400;
            text-align: center;
        }
    }
}

/* Estilos para Login para un max-width:992px (lg) */
@media (max-width: 992px){
    .main{
        .seccionLogin{
            width: 40vw;
            .tituloLogin{
                font-size: 1.8em;
            }

            form{
                input{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .main{
        .seccionLogin{
            width: 45vw;
        
            .tituloLogin{
                font-size: 1.8em;
            }           
            form{
            
                input{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 576px){
    .main{
        .seccionLogin{
            width: 70vw;
        
            .tituloLogin{
                font-size: 1.8em;
            }           
            form{
            
                input{
                    width: 100%;
                }
            }
        }
    }
}