* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-inner {
    p {
        font-size: 20px;
    }
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-inner {
    p {
        font-size: 20px;
    }
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform:  scale(1.15);
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

/*ESTILOS HEADER PARA ESCRITORIO*/
.header {
    background-color: #ffffff;
    color: #000000;
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 10;

    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .logo {
            text-decoration: none;
            color: #000000;
            font-weight: 700;
            font-size: 1.5rem;

            /*animacion hover*/
            &:hover {
                animation: 0.25s infinite;
            }
        }

        .listaNav {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-right: 20px;

                .linkNav {
                    text-decoration: none;
                    color: #29124e;
                    font-weight: 500;
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                    /* Agregar efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;

                    &:hover {
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
                }

                .linkNav.iniciarSesion {

                    color: rgb(0, 0, 0);

                    border-radius: 5px;
                    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow 0.3s;

                    &:hover {
                        background-color: #401175;
                        color: #ffffff;
                        /* transform: scale(0.95);
                         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
                    }
                }
            }

        }
    }

}

/*ESTILOS PARA HEADER MOBILE Y TABLET*/

@media (max-width: 768px) {
    .header {
        height: initial;

        .navegacion {
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .logo {
                font-size: 1.2rem;
                font-weight: 700;
            }

            .listaNav {

                padding: initial;

                .listaItem {
                    .linkNav {
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;

                    }

                }
            }
        }
    }
}

.footer {
    background-color: #9f3647;
    color: #ffffff;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .listaNav {
        list-style: none;
        display: flex;
        align-items: center;

        .listaItem {
            margin-left: 20px;

            .linkNav {
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }

            .administradorPeliculas {
                background-color: #181419;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }
        }
    }
}

/*ESTILOS FOOTER CELULAR Y TABLET CHICA*/
@media (max-width: 768px) {
    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;

        .listaNav {
            flex-direction: column;

            row-gap: 15px;

            .listaItem {

                .linkNav {
                    font-size: 1rem;
                }

                .administradorPeliculas {
                    padding: 0.5rem 0.8rem;
                }
            }
        }
    }
}
