*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color: rgb(227, 213, 202);
    --color-secundaario: #d5bdaf;
    --color-terciario: #9d8189;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-inner {
    p {
        font-size: 20px;
    }
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: black;
    position: relative;
    background-position: center;
    background-size: cover;
}

.carousel-inner {
    p {
        font-size: 20px;
    }
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform:  scale(1.15);
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-family: "Lora", serif;
}

.seccion-ropas{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    .tarjeta-ropa{
        border: 2px solid var(--color);
        box-shadow: 5px 2px 2px rgb(227, 213, 202,0.5);
        border-radius: 10px;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;  /*Al parecer al ser un flex-direction column esta prop te alinea horizontalmente */
        margin: 20px 20px;
        justify-content: flex-end; /*Ahora hace la alineacion en forma vertical*/
        text-align: center;

        &:hover{
            transform: scale(1.1);
        }

        .titulo{
            margin-top:20px;
            font-weight: 600;
        }
        .ropa-img{
            width: 50%;
        }

        p{
            font-size: 0.8em;
        }

        .contenedor-items{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: var(--color);
            align-items: center;
            color: white;
            padding: 10px 0px ;
                        
            .item{
                display: flex;
                width: 80%;
                justify-content: space-between; /*Alinea horizontalmente*/
                align-items: center; /*Alinea verticalmente*/
                flex-wrap: wrap;
            }

            .btn-compra{
                background-color: var(--color-secundaario);
                color: white;
                font-weight: 1000;
                width: 75%;
            }
        
        }
    }
    
}

.btn{
    border: 0;
    font-size: 0.8em;
    border-radius: 20px;
    padding: 5px;
}

.ropa{
    width: 50vw;
    height: 50vh;
    background-color: var(--color-secundaario);   
    position: fixed;
    top: 25%;
    left: 25%;
    visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    align-items: center;
    row-gap: 20px;

    .compra-item{
        display: flex;
        width: 50%;
        justify-content: space-around;

        button{
            background-color: transparent;
            border: 0;
        }
    }

    .mensaje{
        color: red;
        font-size: 0.5em;
    }

    .compra-btns{
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        width: 50%;
        justify-content: space-around;

        button{
            background-color: rgba(255,255,255,0.6) ;

            &:hover{
                background-color: var(--color-terciario);
            }
        } 
    }
}


@media (max-width:1024px){

    .seccion-ropas{
        .tarjeta-ropa{
            width: 30vw;
        }    
    }
}

@media (max-width:768px){

    .seccion-ropas{
        .tarjeta-ropa{
            width: 50vw;
        }
    }

    .ropa{
        .compra-item{
            width: 100%;
        }

        .compra-btns{
            width: 100%;
        }
    }
}

@media (max-width:480px){

    .seccion-ropas{
        .tarjeta-ropa{
            width: 90vw;
        }
    }
}